* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo azul */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0f172a;
}

/* Bloco branco */
.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

/* Letras: Pretas */
h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #000000;
    font-size: 28px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #737373;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    outline: none;
    transition: border-color 0.2s;
}

.input-group input:focus {
    border-color: #15803d;
}

/* Esqueceu a senha? */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 14px;
    color: #000000;
}


.options a {
    color: #15803d;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Botão de acesso verde */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #15803d;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    
    /* Letras de acesso */
    color: #ffffff; 
}

/* Efeito ao passar o mouse */
.btn-login:hover {
    background-color: #166534;
}

/* Cadastre-se */
.signup-text {
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
    color: #000000;
}

.signup-text a {
    color: #15803d;
    text-decoration: none;
    font-weight: 600;
}

.signup-text a:hover {
    text-decoration: underline;
}